In [1]:
import pandas as pd #DataFrame
import numpy as np #수식계산
# import seaborn as sns
import matplotlib.pyplot as plt #시각화
from sklearn import tree #결정트리
from sklearn.neighbors import KNeighborsClassifier #KNN 분류,회귀 모델
from sklearn.ensemble import RandomForestClassifier #RandomForest
from sklearn.svm import SVC #서포트벡터
from sklearn.linear_model import SGDClassifier, LogisticRegression #확률적경사하강법, 시그모이드나 서프트벡터 적용
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, auc #혼돈행렬
from sklearn.preprocessing import StandardScaler, LabelEncoder #평균을 0, 분산을 1 / 
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score #train,test나누기/ 그리드서치/교차검증
%matplotlib inline

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
total = pd.read_csv('total.csv',encoding='euc=kr')

In [3]:
total

,자치센터명,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu,recharge_shop
0,애월읍,35004,95,7,87,114,29,22,12,20,21.930533,33.650708,27
1,조천읍,16045,81,8,73,62,16,6,16,19,20.324776,29.756060,30
2,한림읍,24389,55,9,63,67,17,10,6,18,18.760103,29.124063,18
3,구좌읍,35004,101,17,107,128,27,10,9,11,18.580274,26.396147,19
4,한경면,23812,52,3,26,35,16,8,3,9,15.614241,23.744839,13
5,추자면,9239,24,0,3,4,24,1,1,3,10.218341,14.633693,0
6,우도면,2215,14,2,59,29,10,1,2,5,13.359189,14.670469,0
7,건입동,10085,12,1,11,2,0,0,9,0,16.031302,26.902130,9
8,노형동,55021,27,9,74,44,52,4,17,20,26.259422,41.687284,28
9,도두동,3104,7,1,12,18,2,0,3,0,13.018171,21.428760,7
10,봉개동,3964,19,0,7,2,2,2,5,0,14.578234,21.477368,7
11,삼도1동,14657,1,0,5,5,0,0,2,0,15.895873,27.568314,2
12,삼도2동,8937,8,0,15,4,0,0,0,0,16.146079,25.844072,4
13,삼양동,22981,7,0,6,4,3,0,5,1,12.507564,24.809039,3
14,아라동,31089,21,4,31,6,1,1,7,4,18.166815,33.161773,22
15,연동,43428,12,4,59,33,0,0,11,10,28.710595,42.226216,26
16,오라동,13715,7,0,16,1,2,0,10,4,15.436174,26.582276,9
17,외도동,20964,4,0,7,12,2,2,7,0,13.918345,27.479181,7
18,용담1동,7927,2,2,9,1,1,0,4,0,14.631627,24.285134,0
19,용담2동,16027,8,4,22,22,1,0,14,0,20.721675,29.313600,8
20,이도1동,8053,1,7,6,4,2,0,0,0,16.080458,27.939244,2
21,이도2동,51037,1,5,57,4,3,1,13,2,21.065273,39.655882,12
22,이호동,4291,5,1,6,10,0,0,3,0,8.973071,16.381873,3
23,일도1동,3191,2,7,11,2,2,0,0,0,14.244358,22.896129,0
24,일도2동,35516,6,2,9,0,3,0,4,0,17.604955,32.374366,5
25,화북동,25807,7,0,4,1,2,0,13,0,15.423606,30.362133,4
26,남원읍,19791,51,2,26,47,24,7,9,35,16.282515,29.178778,17
27,대정읍,1903,49,5,39,32,32,5,8,31,16.691674,28.139726,10
28,성산읍,16864,56,4,93,77,38,8,10,33,21.270045,28.259513,27
29,안덕면,11858,90,2,76,67,17,5,9,19,18.786018,26.910834,18
30,표선면,12650,54,1,38,34,22,5,4,21,17.124772,26.766753,20
31,대륜동,13568,20,3,14,36,15,3,5,5,15.462326,24.480421,7
32,대천동,13235,17,1,8,27,19,3,5,4,16.514791,24.979966,11
33,동홍동,23954,4,2,12,4,15,1,5,14,16.707274,30.673781,10
34,서홍동,10765,20,1,4,6,12,0,5,1,14.107948,24.912958,7
35,송산동,5001,6,0,4,10,5,1,0,2,13.017941,16.005250,1
36,영천동,5350,13,0,6,9,14,1,7,4,12.004695,23.720603,7
37,예래동,4073,34,0,24,28,15,1,5,6,18.614718,23.601975,13
38,서귀동,10333,19,7,49,29,29,6,4,51,12.736513,32.854688,10
39,중문동,10964,42,4,37,36,34,1,4,8,17.853645,28.267205,16
40,효돈동,5401,10,0,15,3,20,1,5,4,10.532202,20.570292,4

In [4]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 13 columns):
자치센터명            41 non-null object
population       41 non-null int64
tour_info        41 non-null int64
shop_info        41 non-null int64
food_info        41 non-null int64
domi_info        41 non-null int64
toilet_info      41 non-null int64
school_info      41 non-null int64
oil_info         41 non-null int64
jejumart_info    41 non-null int64
tourlist_flu     41 non-null float64
people_flu       41 non-null float64
recharge_shop    41 non-null int64
dtypes: float64(2), int64(10), object(1)
memory usage: 4.2+ KB

In [5]:
total['recharge_shop'].unique()

array([27, 30, 18, 19, 13,  0,  9, 28,  7,  2,  4,  3, 22, 26,  8, 12,  5,
       17, 10, 20, 11,  1, 16], dtype=int64)

In [6]:
total['recharge_shop'].value_counts()

7     6
0     4
10    3
4     3
27    2
2     2
3     2
18    2
13    2
9     2
1     1
5     1
8     1
30    1
11    1
28    1
16    1
17    1
19    1
20    1
22    1
26    1
12    1
Name: recharge_shop, dtype: int64

In [7]:
#범주6개
bins = (-1,5,10,15,20,25,31)
group_names = [1,2,3,4,5,6]
total['recharge'] = pd.cut(total['recharge_shop'], bins = bins, labels = group_names)

In [8]:
total

,자치센터명,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu,recharge_shop,recharge
0,애월읍,35004,95,7,87,114,29,22,12,20,21.930533,33.650708,27,6
1,조천읍,16045,81,8,73,62,16,6,16,19,20.324776,29.756060,30,6
2,한림읍,24389,55,9,63,67,17,10,6,18,18.760103,29.124063,18,4
3,구좌읍,35004,101,17,107,128,27,10,9,11,18.580274,26.396147,19,4
4,한경면,23812,52,3,26,35,16,8,3,9,15.614241,23.744839,13,3
5,추자면,9239,24,0,3,4,24,1,1,3,10.218341,14.633693,0,1
6,우도면,2215,14,2,59,29,10,1,2,5,13.359189,14.670469,0,1
7,건입동,10085,12,1,11,2,0,0,9,0,16.031302,26.902130,9,2
8,노형동,55021,27,9,74,44,52,4,17,20,26.259422,41.687284,28,6
9,도두동,3104,7,1,12,18,2,0,3,0,13.018171,21.428760,7,2
10,봉개동,3964,19,0,7,2,2,2,5,0,14.578234,21.477368,7,2
11,삼도1동,14657,1,0,5,5,0,0,2,0,15.895873,27.568314,2,1
12,삼도2동,8937,8,0,15,4,0,0,0,0,16.146079,25.844072,4,1
13,삼양동,22981,7,0,6,4,3,0,5,1,12.507564,24.809039,3,1
14,아라동,31089,21,4,31,6,1,1,7,4,18.166815,33.161773,22,5
15,연동,43428,12,4,59,33,0,0,11,10,28.710595,42.226216,26,6
16,오라동,13715,7,0,16,1,2,0,10,4,15.436174,26.582276,9,2
17,외도동,20964,4,0,7,12,2,2,7,0,13.918345,27.479181,7,2
18,용담1동,7927,2,2,9,1,1,0,4,0,14.631627,24.285134,0,1
19,용담2동,16027,8,4,22,22,1,0,14,0,20.721675,29.313600,8,2
20,이도1동,8053,1,7,6,4,2,0,0,0,16.080458,27.939244,2,1
21,이도2동,51037,1,5,57,4,3,1,13,2,21.065273,39.655882,12,3
22,이호동,4291,5,1,6,10,0,0,3,0,8.973071,16.381873,3,1
23,일도1동,3191,2,7,11,2,2,0,0,0,14.244358,22.896129,0,1
24,일도2동,35516,6,2,9,0,3,0,4,0,17.604955,32.374366,5,1
25,화북동,25807,7,0,4,1,2,0,13,0,15.423606,30.362133,4,1
26,남원읍,19791,51,2,26,47,24,7,9,35,16.282515,29.178778,17,4
27,대정읍,1903,49,5,39,32,32,5,8,31,16.691674,28.139726,10,2
28,성산읍,16864,56,4,93,77,38,8,10,33,21.270045,28.259513,27,6
29,안덕면,11858,90,2,76,67,17,5,9,19,18.786018,26.910834,18,4
30,표선면,12650,54,1,38,34,22,5,4,21,17.124772,26.766753,20,4
31,대륜동,13568,20,3,14,36,15,3,5,5,15.462326,24.480421,7,2
32,대천동,13235,17,1,8,27,19,3,5,4,16.514791,24.979966,11,3
33,동홍동,23954,4,2,12,4,15,1,5,14,16.707274,30.673781,10,2
34,서홍동,10765,20,1,4,6,12,0,5,1,14.107948,24.912958,7,2
35,송산동,5001,6,0,4,10,5,1,0,2,13.017941,16.005250,1,1
36,영천동,5350,13,0,6,9,14,1,7,4,12.004695,23.720603,7,2
37,예래동,4073,34,0,24,28,15,1,5,6,18.614718,23.601975,13,3
38,서귀동,10333,19,7,49,29,29,6,4,51,12.736513,32.854688,10,2
39,중문동,10964,42,4,37,36,34,1,4,8,17.853645,28.267205,16,4
40,효돈동,5401,10,0,15,3,20,1,5,4,10.532202,20.570292,4,1

In [9]:
X = total.drop(['자치센터명','recharge_shop','recharge'], axis = 1) 
y = total['recharge']

In [10]:
X.head(5)

,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu
0,35004,95,7,87,114,29,22,12,20,21.930533,33.650708
1,16045,81,8,73,62,16,6,16,19,20.324776,29.756060
2,24389,55,9,63,67,17,10,6,18,18.760103,29.124063
3,35004,101,17,107,128,27,10,9,11,18.580274,26.396147
4,23812,52,3,26,35,16,8,3,9,15.614241,23.744839

In [11]:
y.value_counts()

1    13
2    12
4     6
6     5
3     4
5     1
Name: recharge, dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 7)

In [13]:
X_train.shape, y_train.shape

((32, 11), (32,))

In [14]:
X_test.shape, y_test.shape

((9, 11), (9,))

### KNN

In [15]:
clf = KNeighborsClassifier(n_neighbors=15)
clf = clf.fit(X_train, y_train)
clf.score(X_test,y_test)

0.2222222222222222

### 경사하강법

In [16]:
sgd = SGDClassifier()
sgd.fit(X_train, y_train)
sgd.score(X_test,y_test)

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

0.3333333333333333

### 결정트리

In [17]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test,y_test)

0.4444444444444444

### 랜덤 포래스트 (Random Forest Classifier)

In [18]:
rfc = RandomForestClassifier(n_estimators=5000,max_depth=2) 
rfc.fit(X_train, y_train)
print("훈련 세트 정확도: {:.3f}".format(rfc.score(X_train,y_train)))
print("훈련 세트 정확도: {:.3f}".format(rfc.score(X_test,y_test)))

훈련 세트 정확도: 0.844
훈련 세트 정확도: 0.667

### 그라디언트부스팅

In [19]:
from sklearn.ensemble import GradientBoostingClassifier


#n_estimators=100, max_depth=3
gbrt = GradientBoostingClassifier(n_estimators=250,max_depth=1,random_state=0,learning_rate=0.01)
gbrt.fit(X_train, y_train)

print("훈련 세트 정확도: {:.3f}".format(gbrt.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(gbrt.score(X_test, y_test)))

훈련 세트 정확도: 0.938
테스트 세트 정확도: 0.444

## Support Vector Classifier (SVC)

In [20]:
svc = SVC()
svc.fit(X_train, y_train)
svc.score(X_test,y_test)

0.3333333333333333

Logistic Regression
--

In [21]:
log = LogisticRegression()
log.fit(X_train, y_train)
log.score(X_test,y_test)

0.4444444444444444

# XGBoost

In [22]:
import xgboost as xgb

In [23]:
model = xgb.XGBRegressor(booster='gbtree',
                         objective = 'reg:linear',
                           silent=True,
                          min_child_weight=10, 
                            n_estimators = 100,
                         learning_rate = 0.2,
                          n_jobs =4,
                          gamma=0,
                         max_depth = 10,
                         max_delta_step=1,
                         nthread=-1,
                         seed=31,
                         colsample_bytree=0.6,
                         colsample_bylevel=0.9)
model.fit(X_train,y_train,eval_set=[(X_test,y_test)])

[0]	validation_0-rmse:2.47678
[1]	validation_0-rmse:2.33931
[2]	validation_0-rmse:2.20947
[3]	validation_0-rmse:2.08336
[4]	validation_0-rmse:1.96846
[5]	validation_0-rmse:1.85018
[6]	validation_0-rmse:1.74724
[7]	validation_0-rmse:1.63752
[8]	validation_0-rmse:1.54346
[9]	validation_0-rmse:1.44107
[10]	validation_0-rmse:1.3442
[11]	validation_0-rmse:1.24952
[12]	validation_0-rmse:1.159
[13]	validation_0-rmse:1.16558
[14]	validation_0-rmse:1.08079
[15]	validation_0-rmse:1.03997
[16]	validation_0-rmse:0.985622
[17]	validation_0-rmse:1.00956
[18]	validation_0-rmse:0.963246
[19]	validation_0-rmse:0.932176
[20]	validation_0-rmse:0.941039
[21]	validation_0-rmse:0.914159
[22]	validation_0-rmse:0.893746
[23]	validation_0-rmse:0.87871
[24]	validation_0-rmse:0.863976
[25]	validation_0-rmse:0.852944
[26]	validation_0-rmse:0.838566
[27]	validation_0-rmse:0.839514
[28]	validation_0-rmse:0.820146
[29]	validation_0-rmse:0.822931
[30]	validation_0-rmse:0.820607
[31]	validation_0-rmse:0.810287
[32]	validation_0-rmse:0.803864
[33]	validation_0-rmse:0.804129
[34]	validation_0-rmse:0.807868
[35]	validation_0-rmse:0.802984
[36]	validation_0-rmse:0.800889
[37]	validation_0-rmse:0.806744
[38]	validation_0-rmse:0.805097
[39]	validation_0-rmse:0.804087
[40]	validation_0-rmse:0.794668
[41]	validation_0-rmse:0.796079
[42]	validation_0-rmse:0.783298
[43]	validation_0-rmse:0.782456
[44]	validation_0-rmse:0.778101
[45]	validation_0-rmse:0.783418
[46]	validation_0-rmse:0.780423
[47]	validation_0-rmse:0.777164
[48]	validation_0-rmse:0.776148
[49]	validation_0-rmse:0.774075
[50]	validation_0-rmse:0.775437
[51]	validation_0-rmse:0.774307
[52]	validation_0-rmse:0.77045
[53]	validation_0-rmse:0.766704
[54]	validation_0-rmse:0.767874
[55]	validation_0-rmse:0.757304
[56]	validation_0-rmse:0.755195
[57]	validation_0-rmse:0.752732
[58]	validation_0-rmse:0.75138
[59]	validation_0-rmse:0.750445
[60]	validation_0-rmse:0.751545
[61]	validation_0-rmse:0.75281
[62]	validation_0-rmse:0.751875
[63]	validation_0-rmse:0.745647
[64]	validation_0-rmse:0.747328
[65]	validation_0-rmse:0.751724
[66]	validation_0-rmse:0.752779
[67]	validation_0-rmse:0.752292
[68]	validation_0-rmse:0.751475
[69]	validation_0-rmse:0.758239
[70]	validation_0-rmse:0.759461
[71]	validation_0-rmse:0.763945
[72]	validation_0-rmse:0.762972
[73]	validation_0-rmse:0.761558
[74]	validation_0-rmse:0.760797
[75]	validation_0-rmse:0.759659
[76]	validation_0-rmse:0.75444
[77]	validation_0-rmse:0.749706
[78]	validation_0-rmse:0.750941
[79]	validation_0-rmse:0.750147
[80]	validation_0-rmse:0.748611
[81]	validation_0-rmse:0.74589
[82]	validation_0-rmse:0.745142
[83]	validation_0-rmse:0.738029
[84]	validation_0-rmse:0.739177
[85]	validation_0-rmse:0.734734
[86]	validation_0-rmse:0.735807
[87]	validation_0-rmse:0.740224
[88]	validation_0-rmse:0.739252
[89]	validation_0-rmse:0.740343
[90]	validation_0-rmse:0.735778
[91]	validation_0-rmse:0.732889
[92]	validation_0-rmse:0.732258
[93]	validation_0-rmse:0.732957
[94]	validation_0-rmse:0.734234
[95]	validation_0-rmse:0.73347
[96]	validation_0-rmse:0.73762
[97]	validation_0-rmse:0.738206
[98]	validation_0-rmse:0.739391
[99]	validation_0-rmse:0.736693

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=0.9,
       colsample_bytree=0.6, gamma=0, learning_rate=0.2, max_delta_step=1,
       max_depth=10, min_child_weight=10, missing=None, n_estimators=100,
       n_jobs=4, nthread=-1, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=31, silent=True,
       subsample=1)

In [24]:
model.score(X_train,y_train)

0.9379441449913117

In [25]:
model.score(X_test,y_test)

0.7983483555575388