In [18]:
import pandas as pd #DataFrame
import numpy as np

In [19]:
train= pd.read_csv('total.csv',encoding='euc-kr')
test= pd.read_csv('total_p.csv',encoding='euc-kr')

In [20]:
train

,자치센터명,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu,recharge_shop
0,애월읍,35004,95,7,87,114,29,22,12,20,21.930533,33.650708,27
1,조천읍,16045,81,8,73,62,16,6,16,19,20.324776,29.756060,30
2,한림읍,24389,55,9,63,67,17,10,6,18,18.760103,29.124063,18
3,구좌읍,35004,101,17,107,128,27,10,9,11,18.580274,26.396147,19
4,한경면,23812,52,3,26,35,16,8,3,9,15.614241,23.744839,13
5,추자면,9239,24,0,3,4,24,1,1,3,10.218341,14.633693,0
6,우도면,2215,14,2,59,29,10,1,2,5,13.359189,14.670469,0
7,건입동,10085,12,1,11,2,0,0,9,0,16.031302,26.902130,9
8,노형동,55021,27,9,74,44,52,4,17,20,26.259422,41.687284,28
9,도두동,3104,7,1,12,18,2,0,3,0,13.018171,21.428760,7
10,봉개동,3964,19,0,7,2,2,2,5,0,14.578234,21.477368,7
11,삼도1동,14657,1,0,5,5,0,0,2,0,15.895873,27.568314,2
12,삼도2동,8937,8,0,15,4,0,0,0,0,16.146079,25.844072,4
13,삼양동,22981,7,0,6,4,3,0,5,1,12.507564,24.809039,3
14,아라동,31089,21,4,31,6,1,1,7,4,18.166815,33.161773,22
15,연동,43428,12,4,59,33,0,0,11,10,28.710595,42.226216,26
16,오라동,13715,7,0,16,1,2,0,10,4,15.436174,26.582276,9
17,외도동,20964,4,0,7,12,2,2,7,0,13.918345,27.479181,7
18,용담1동,7927,2,2,9,1,1,0,4,0,14.631627,24.285134,0
19,용담2동,16027,8,4,22,22,1,0,14,0,20.721675,29.313600,8
20,이도1동,8053,1,7,6,4,2,0,0,0,16.080458,27.939244,2
21,이도2동,51037,1,5,57,4,3,1,13,2,21.065273,39.655882,12
22,이호동,4291,5,1,6,10,0,0,3,0,8.973071,16.381873,3
23,일도1동,3191,2,7,11,2,2,0,0,0,14.244358,22.896129,0
24,일도2동,35516,6,2,9,0,3,0,4,0,17.604955,32.374366,5
25,화북동,25807,7,0,4,1,2,0,13,0,15.423606,30.362133,4
26,남원읍,19791,51,2,26,47,24,7,9,35,16.282515,29.178778,17
27,대정읍,1903,49,5,39,32,32,5,8,31,16.691674,28.139726,10
28,성산읍,16864,56,4,93,77,38,8,10,33,21.270045,28.259513,27
29,안덕면,11858,90,2,76,67,17,5,9,19,18.786018,26.910834,18
30,표선면,12650,54,1,38,34,22,5,4,21,17.124772,26.766753,20
31,대륜동,13568,20,3,14,36,15,3,5,5,15.462326,24.480421,7
32,대천동,13235,17,1,8,27,19,3,5,4,16.514791,24.979966,11
33,동홍동,23954,4,2,12,4,15,1,5,14,16.707274,30.673781,10
34,서홍동,10765,20,1,4,6,12,0,5,1,14.107948,24.912958,7
35,송산동,5001,6,0,4,10,5,1,0,2,13.017941,16.005250,1
36,영천동,5350,13,0,6,9,14,1,7,4,12.004695,23.720603,7
37,예래동,4073,34,0,24,28,15,1,5,6,18.614718,23.601975,13
38,서귀동,10333,19,7,49,29,29,6,4,51,12.736513,32.854688,10
39,중문동,10964,42,4,37,36,34,1,4,8,17.853645,28.267205,16
40,효돈동,5401,10,0,15,3,20,1,5,4,10.532202,20.570292,4

In [21]:
test

,자치센터명,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu,recharge
0,애월읍,35004,95,7,87,114,29,484,144,400,21.930533,1132.370178,NaN
1,조천읍,16045,81,8,73,62,16,36,256,361,20.324776,885.423110,NaN
2,한림읍,24389,55,9,63,67,17,100,36,324,18.760103,848.211035,NaN
3,구좌읍,35004,101,17,107,128,27,100,81,121,18.580274,696.756558,NaN
4,한경면,23812,52,3,26,35,16,64,9,81,15.614241,563.817390,NaN
5,추자면,9239,24,0,3,4,24,1,1,9,10.218341,214.144983,NaN
6,우도면,2215,14,2,59,29,10,1,4,25,13.359189,215.222657,NaN
7,건입동,10085,12,1,11,2,0,0,81,0,16.031302,723.724596,NaN
8,노형동,55021,27,9,74,44,52,16,289,400,26.259422,1737.829620,NaN
9,도두동,3104,7,1,12,18,2,0,9,0,13.018171,459.191753,NaN
10,봉개동,3964,19,0,7,2,2,4,25,0,14.578234,461.277327,NaN
11,삼도1동,14657,1,0,5,5,0,0,4,0,15.895873,760.011963,NaN
12,삼도2동,8937,8,0,15,4,0,0,0,0,16.146079,667.916044,NaN
13,삼양동,22981,7,0,6,4,3,0,25,1,12.507564,615.488410,NaN
14,아라동,31089,21,4,31,6,1,1,49,16,18.166815,1099.703184,NaN
15,연동,43428,12,4,59,33,0,0,121,100,28.710595,1783.053359,NaN
16,오라동,13715,7,0,16,1,2,0,100,16,15.436174,706.617415,NaN
17,외도동,20964,4,0,7,12,2,4,49,0,13.918345,755.105405,NaN
18,용담1동,7927,2,2,9,1,1,0,16,0,14.631627,589.767751,NaN
19,용담2동,16027,8,4,22,22,1,0,196,0,20.721675,859.287147,NaN
20,이도1동,8053,1,7,6,4,2,0,0,0,16.080458,780.601373,NaN
21,이도2동,51037,1,5,57,4,3,1,169,4,21.065273,1572.588964,NaN
22,이호동,4291,5,1,6,10,0,0,9,0,8.973071,268.365757,NaN
23,일도1동,3191,2,7,11,2,2,0,0,0,14.244358,524.232723,NaN
24,일도2동,35516,6,2,9,0,3,0,16,0,17.604955,1048.099560,NaN
25,화북동,25807,7,0,4,1,2,0,169,0,15.423606,921.859094,NaN
26,남원읍,19791,51,2,26,47,24,49,81,1225,16.282515,851.401104,NaN
27,대정읍,1903,49,5,39,32,32,25,64,961,16.691674,791.844190,NaN
28,성산읍,16864,56,4,93,77,38,64,100,1089,21.270045,798.600091,NaN
29,안덕면,11858,90,2,76,67,17,25,81,361,18.786018,724.192992,NaN
30,표선면,12650,54,1,38,34,22,25,16,441,17.124772,716.459059,NaN
31,대륜동,13568,20,3,14,36,15,9,25,25,15.462326,599.290994,NaN
32,대천동,13235,17,1,8,27,19,9,25,16,16.514791,623.998691,NaN
33,동홍동,23954,4,2,12,4,15,1,25,196,16.707274,940.880828,NaN
34,서홍동,10765,20,1,4,6,12,0,25,1,14.107948,620.655477,NaN
35,송산동,5001,6,0,4,10,5,1,0,4,13.017941,256.168014,NaN
36,영천동,5350,13,0,6,9,14,1,49,16,12.004695,562.667012,NaN
37,예래동,4073,34,0,24,28,15,1,25,36,18.614718,557.053228,NaN
38,서귀동,10333,19,7,49,29,29,36,16,2601,12.736513,1079.430510,NaN
39,중문동,10964,42,4,37,36,34,1,16,64,17.853645,799.034876,NaN
40,효돈동,5401,10,0,15,3,20,1,25,16,10.532202,423.136904,NaN

In [22]:
#범주6개
bins = (-1,5,10,15,20,25,31)
group_names = [1,2,3,4,5,6]
train['recharge'] = pd.cut(train['recharge_shop'], bins = bins, labels = group_names)

In [23]:
train

,자치센터명,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu,recharge_shop,recharge
0,애월읍,35004,95,7,87,114,29,22,12,20,21.930533,33.650708,27,6
1,조천읍,16045,81,8,73,62,16,6,16,19,20.324776,29.756060,30,6
2,한림읍,24389,55,9,63,67,17,10,6,18,18.760103,29.124063,18,4
3,구좌읍,35004,101,17,107,128,27,10,9,11,18.580274,26.396147,19,4
4,한경면,23812,52,3,26,35,16,8,3,9,15.614241,23.744839,13,3
5,추자면,9239,24,0,3,4,24,1,1,3,10.218341,14.633693,0,1
6,우도면,2215,14,2,59,29,10,1,2,5,13.359189,14.670469,0,1
7,건입동,10085,12,1,11,2,0,0,9,0,16.031302,26.902130,9,2
8,노형동,55021,27,9,74,44,52,4,17,20,26.259422,41.687284,28,6
9,도두동,3104,7,1,12,18,2,0,3,0,13.018171,21.428760,7,2
10,봉개동,3964,19,0,7,2,2,2,5,0,14.578234,21.477368,7,2
11,삼도1동,14657,1,0,5,5,0,0,2,0,15.895873,27.568314,2,1
12,삼도2동,8937,8,0,15,4,0,0,0,0,16.146079,25.844072,4,1
13,삼양동,22981,7,0,6,4,3,0,5,1,12.507564,24.809039,3,1
14,아라동,31089,21,4,31,6,1,1,7,4,18.166815,33.161773,22,5
15,연동,43428,12,4,59,33,0,0,11,10,28.710595,42.226216,26,6
16,오라동,13715,7,0,16,1,2,0,10,4,15.436174,26.582276,9,2
17,외도동,20964,4,0,7,12,2,2,7,0,13.918345,27.479181,7,2
18,용담1동,7927,2,2,9,1,1,0,4,0,14.631627,24.285134,0,1
19,용담2동,16027,8,4,22,22,1,0,14,0,20.721675,29.313600,8,2
20,이도1동,8053,1,7,6,4,2,0,0,0,16.080458,27.939244,2,1
21,이도2동,51037,1,5,57,4,3,1,13,2,21.065273,39.655882,12,3
22,이호동,4291,5,1,6,10,0,0,3,0,8.973071,16.381873,3,1
23,일도1동,3191,2,7,11,2,2,0,0,0,14.244358,22.896129,0,1
24,일도2동,35516,6,2,9,0,3,0,4,0,17.604955,32.374366,5,1
25,화북동,25807,7,0,4,1,2,0,13,0,15.423606,30.362133,4,1
26,남원읍,19791,51,2,26,47,24,7,9,35,16.282515,29.178778,17,4
27,대정읍,1903,49,5,39,32,32,5,8,31,16.691674,28.139726,10,2
28,성산읍,16864,56,4,93,77,38,8,10,33,21.270045,28.259513,27,6
29,안덕면,11858,90,2,76,67,17,5,9,19,18.786018,26.910834,18,4
30,표선면,12650,54,1,38,34,22,5,4,21,17.124772,26.766753,20,4
31,대륜동,13568,20,3,14,36,15,3,5,5,15.462326,24.480421,7,2
32,대천동,13235,17,1,8,27,19,3,5,4,16.514791,24.979966,11,3
33,동홍동,23954,4,2,12,4,15,1,5,14,16.707274,30.673781,10,2
34,서홍동,10765,20,1,4,6,12,0,5,1,14.107948,24.912958,7,2
35,송산동,5001,6,0,4,10,5,1,0,2,13.017941,16.005250,1,1
36,영천동,5350,13,0,6,9,14,1,7,4,12.004695,23.720603,7,2
37,예래동,4073,34,0,24,28,15,1,5,6,18.614718,23.601975,13,3
38,서귀동,10333,19,7,49,29,29,6,4,51,12.736513,32.854688,10,2
39,중문동,10964,42,4,37,36,34,1,4,8,17.853645,28.267205,16,4
40,효돈동,5401,10,0,15,3,20,1,5,4,10.532202,20.570292,4,1

In [24]:
X_train= train.drop(['자치센터명','recharge_shop','recharge'], axis = 1) 
y_train= train['recharge']

In [25]:
X_test= test.drop(['자치센터명','recharge'], axis = 1) 
y_test= test['recharge']

In [26]:
X_train.shape, y_train.shape

((41, 11), (41,))

In [27]:
X_test.shape, y_test.shape

((41, 11), (41,))

In [28]:
X_test

,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu
0,35004,95,7,87,114,29,484,144,400,21.930533,1132.370178
1,16045,81,8,73,62,16,36,256,361,20.324776,885.423110
2,24389,55,9,63,67,17,100,36,324,18.760103,848.211035
3,35004,101,17,107,128,27,100,81,121,18.580274,696.756558
4,23812,52,3,26,35,16,64,9,81,15.614241,563.817390
5,9239,24,0,3,4,24,1,1,9,10.218341,214.144983
6,2215,14,2,59,29,10,1,4,25,13.359189,215.222657
7,10085,12,1,11,2,0,0,81,0,16.031302,723.724596
8,55021,27,9,74,44,52,16,289,400,26.259422,1737.829620
9,3104,7,1,12,18,2,0,9,0,13.018171,459.191753
10,3964,19,0,7,2,2,4,25,0,14.578234,461.277327
11,14657,1,0,5,5,0,0,4,0,15.895873,760.011963
12,8937,8,0,15,4,0,0,0,0,16.146079,667.916044
13,22981,7,0,6,4,3,0,25,1,12.507564,615.488410
14,31089,21,4,31,6,1,1,49,16,18.166815,1099.703184
15,43428,12,4,59,33,0,0,121,100,28.710595,1783.053359
16,13715,7,0,16,1,2,0,100,16,15.436174,706.617415
17,20964,4,0,7,12,2,4,49,0,13.918345,755.105405
18,7927,2,2,9,1,1,0,16,0,14.631627,589.767751
19,16027,8,4,22,22,1,0,196,0,20.721675,859.287147
20,8053,1,7,6,4,2,0,0,0,16.080458,780.601373
21,51037,1,5,57,4,3,1,169,4,21.065273,1572.588964
22,4291,5,1,6,10,0,0,9,0,8.973071,268.365757
23,3191,2,7,11,2,2,0,0,0,14.244358,524.232723
24,35516,6,2,9,0,3,0,16,0,17.604955,1048.099560
25,25807,7,0,4,1,2,0,169,0,15.423606,921.859094
26,19791,51,2,26,47,24,49,81,1225,16.282515,851.401104
27,1903,49,5,39,32,32,25,64,961,16.691674,791.844190
28,16864,56,4,93,77,38,64,100,1089,21.270045,798.600091
29,11858,90,2,76,67,17,25,81,361,18.786018,724.192992
30,12650,54,1,38,34,22,25,16,441,17.124772,716.459059
31,13568,20,3,14,36,15,9,25,25,15.462326,599.290994
32,13235,17,1,8,27,19,9,25,16,16.514791,623.998691
33,23954,4,2,12,4,15,1,25,196,16.707274,940.880828
34,10765,20,1,4,6,12,0,25,1,14.107948,620.655477
35,5001,6,0,4,10,5,1,0,4,13.017941,256.168014
36,5350,13,0,6,9,14,1,49,16,12.004695,562.667012
37,4073,34,0,24,28,15,1,25,36,18.614718,557.053228
38,10333,19,7,49,29,29,36,16,2601,12.736513,1079.430510
39,10964,42,4,37,36,34,1,16,64,17.853645,799.034876
40,5401,10,0,15,3,20,1,25,16,10.532202,423.136904

# XGBoost

In [29]:
import xgboost as xgb

In [30]:
model = xgb.XGBRegressor(booster='gbtree',
                         objective = 'reg:linear',
                           silent=True,
                          min_child_weight=10, 
                            n_estimators = 100,
                         learning_rate = 0.2,
                          n_jobs =4,
                          gamma=0,
                         max_depth = 10,
                         max_delta_step=1,
                         nthread=-1,
                         seed=31,
                         colsample_bytree=0.6,
                         colsample_bylevel=0.9)
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=0.9,
       colsample_bytree=0.6, gamma=0, learning_rate=0.2, max_delta_step=1,
       max_depth=10, min_child_weight=10, missing=None, n_estimators=100,
       n_jobs=4, nthread=-1, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=31, silent=True,
       subsample=1)

In [31]:
prediction = model.predict(X_test)
prediction

array([5.6809363, 5.8117146, 5.529899 , 5.6264606, 4.4878035, 1.4848812,
       2.269991 , 2.1562006, 5.6809363, 1.8182333, 1.9662409, 1.3327659,
       1.0601345, 1.237213 , 5.011382 , 5.8750753, 2.3403473, 1.9478524,
       1.2732491, 2.9984398, 1.010509 , 3.5936215, 1.7225894, 0.9357269,
       1.5332373, 1.3951734, 4.861126 , 3.1657665, 5.9447865, 5.1465807,
       4.8847175, 3.787912 , 3.7280612, 2.3494427, 2.1526856, 1.1115433,
       2.6839619, 4.2067614, 2.66666  , 5.131559 , 1.7673405],
      dtype=float32)

In [32]:
test['recharge']=prediction

In [33]:
test

,자치센터명,population,tour_info,shop_info,food_info,domi_info,toilet_info,school_info,oil_info,jejumart_info,tourlist_flu,people_flu,recharge
0,애월읍,35004,95,7,87,114,29,484,144,400,21.930533,1132.370178,5.680936
1,조천읍,16045,81,8,73,62,16,36,256,361,20.324776,885.423110,5.811715
2,한림읍,24389,55,9,63,67,17,100,36,324,18.760103,848.211035,5.529899
3,구좌읍,35004,101,17,107,128,27,100,81,121,18.580274,696.756558,5.626461
4,한경면,23812,52,3,26,35,16,64,9,81,15.614241,563.817390,4.487803
5,추자면,9239,24,0,3,4,24,1,1,9,10.218341,214.144983,1.484881
6,우도면,2215,14,2,59,29,10,1,4,25,13.359189,215.222657,2.269991
7,건입동,10085,12,1,11,2,0,0,81,0,16.031302,723.724596,2.156201
8,노형동,55021,27,9,74,44,52,16,289,400,26.259422,1737.829620,5.680936
9,도두동,3104,7,1,12,18,2,0,9,0,13.018171,459.191753,1.818233
10,봉개동,3964,19,0,7,2,2,4,25,0,14.578234,461.277327,1.966241
11,삼도1동,14657,1,0,5,5,0,0,4,0,15.895873,760.011963,1.332766
12,삼도2동,8937,8,0,15,4,0,0,0,0,16.146079,667.916044,1.060135
13,삼양동,22981,7,0,6,4,3,0,25,1,12.507564,615.488410,1.237213
14,아라동,31089,21,4,31,6,1,1,49,16,18.166815,1099.703184,5.011382
15,연동,43428,12,4,59,33,0,0,121,100,28.710595,1783.053359,5.875075
16,오라동,13715,7,0,16,1,2,0,100,16,15.436174,706.617415,2.340347
17,외도동,20964,4,0,7,12,2,4,49,0,13.918345,755.105405,1.947852
18,용담1동,7927,2,2,9,1,1,0,16,0,14.631627,589.767751,1.273249
19,용담2동,16027,8,4,22,22,1,0,196,0,20.721675,859.287147,2.998440
20,이도1동,8053,1,7,6,4,2,0,0,0,16.080458,780.601373,1.010509
21,이도2동,51037,1,5,57,4,3,1,169,4,21.065273,1572.588964,3.593621
22,이호동,4291,5,1,6,10,0,0,9,0,8.973071,268.365757,1.722589
23,일도1동,3191,2,7,11,2,2,0,0,0,14.244358,524.232723,0.935727
24,일도2동,35516,6,2,9,0,3,0,16,0,17.604955,1048.099560,1.533237
25,화북동,25807,7,0,4,1,2,0,169,0,15.423606,921.859094,1.395173
26,남원읍,19791,51,2,26,47,24,49,81,1225,16.282515,851.401104,4.861126
27,대정읍,1903,49,5,39,32,32,25,64,961,16.691674,791.844190,3.165766
28,성산읍,16864,56,4,93,77,38,64,100,1089,21.270045,798.600091,5.944787
29,안덕면,11858,90,2,76,67,17,25,81,361,18.786018,724.192992,5.146581
30,표선면,12650,54,1,38,34,22,25,16,441,17.124772,716.459059,4.884717
31,대륜동,13568,20,3,14,36,15,9,25,25,15.462326,599.290994,3.787912
32,대천동,13235,17,1,8,27,19,9,25,16,16.514791,623.998691,3.728061
33,동홍동,23954,4,2,12,4,15,1,25,196,16.707274,940.880828,2.349443
34,서홍동,10765,20,1,4,6,12,0,25,1,14.107948,620.655477,2.152686
35,송산동,5001,6,0,4,10,5,1,0,4,13.017941,256.168014,1.111543
36,영천동,5350,13,0,6,9,14,1,49,16,12.004695,562.667012,2.683962
37,예래동,4073,34,0,24,28,15,1,25,36,18.614718,557.053228,4.206761
38,서귀동,10333,19,7,49,29,29,36,16,2601,12.736513,1079.430510,2.666660
39,중문동,10964,42,4,37,36,34,1,16,64,17.853645,799.034876,5.131559
40,효돈동,5401,10,0,15,3,20,1,25,16,10.532202,423.136904,1.767341

In [34]:
test.to_csv("test_t.csv",encoding='euc-kr')
train.to_csv("train.csv",encoding='euc-kr')